
version: '3'
services:
  frontend:
    image: nginx:alpine
    volumes:
      - ./app:/usr/share/nginx/html
    ports:
      - "1810:80"
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./server:/app
    ports:
      - "3000:3000"
    restart: unless-stopped
