version: '3'
services:
  
frontend:
  image: nginx:alpine
  volumes:
    - ./app:/usr/share/nginx/html:ro
    - ./app/nginx.conf:/etc/nginx/conf.d/default.conf:ro
  ports:
    - "1810:80"
  depends_on:
    - backend
  restart: unless-stopped


backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./server:/app
      - ./data:/app/data  # SQLite persistente Speicherung
    ports:
      - "3000:3000"
    restart: unless-stopped