body {
  font-family: sans-serif;
  margin: 2em;
  background-color: #f9f9f9;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
input {
  padding: 0.5em;
  font-size: 1em;
}
button {
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
}
